@charset "utf-8";
/* 整體 HTML 元素樣式設置 global.css */
/* 網頁整體設置
============================ */
body {
font-size:14px;
color:#000000;
line-height:24px;
font-family:"微軟正黑體","新細明體",Arial, Helvetica, sans-serif;
}
/* 預設連結設置 */
a {text-decoration:none;}
a:link {color: #333333;}
a:visited {color: #333333;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

/* 分隔線設置 */
hr {
border:0;
height:1px;
border-bottom:#aaaaaa dashed 1px;
clear:both;
}
caption {
font-size:12px;
padding:5px;
}
/* 強調字句樣式設置 */
em { 
color:#990000;
font-style:normal;
}
/* 標題樣式設置 */
h1 {
font-size:15px;
font-weight:normal;
line-height:24px;
}
/* 文章樣式設置 */
p {
margin:5px auto;
padding:0;
line-height:24px;
letter-spacing:1px;
}
/* 列表樣式設置 */
ul {
color:#333333;
font-family:"微軟正黑體","新細明體",Arial, Helvetica, sans-serif; 
font-size:14px; 
}
/* 表單輸入框設置 */
input, select, textarea {
margin-bottom:5px;
vertical-align:middle;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
}
/* 表單輸入框設置 */
input, textarea {
}
/* 表格標題設置 */
th {
background:#f0f0f0;
}
/* 分隔線設置 */
hr {
border:0;
height:1px;
border-bottom:#aaaaaa dashed 1px;
}
img {
border:none;
vertical-align:middle;
}
table { }
tr { vertical-align:top;}
td {
font-size:12px;
padding: 0px;
}
cite {
font-weight:normal;
font-style:normal;
}
i {
letter-spacing:1px;
font-style:normal; 
}
/* 頁碼 */
DIV.black2 {
	PADDING-BOTTOM: 7px;
	PADDING-TOP: 17px;
	TEXT-ALIGN: center;
	color:#7f7f7f;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:18px;
	margin-bottom:35px;
	margin-top:35px;
	clear:both;	
}
DIV.black2 A {
	PADDING-RIGHT: 5px;
	BORDER-RIGHT: #b0b0b0 1px solid;
	BORDER-TOP: #b0b0b0 1px solid;
	BORDER-LEFT: #b0b0b0 1px solid;
	BORDER-BOTTOM: #b0b0b0 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	MARGIN:5px;
	COLOR:#898989;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #dce8f5;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
DIV.black2 A:hover {
	BORDER-RIGHT: #b0b0b0 1px solid;
	BORDER-TOP: #b0b0b0 1px solid;
	BORDER-LEFT: #b0b0b0 1px solid;
	BORDER-BOTTOM: #b0b0b0 1px solid;
	COLOR: #d5d5d5;
	BACKGROUND-COLOR: #0068b4;
	}
DIV.black2 A:active {
	BORDER-RIGHT: #b0b0b0 1px solid;
	BORDER-TOP: #b0b0b0 1px solid;
	BORDER-LEFT: #b0b0b0 1px solid;
	BORDER-BOTTOM: #b0b0b0 1px solid;
	COLOR:#898989;
	BACKGROUND-COLOR: #dce8f5;
	}
DIV.black2 SPAN.current {
	PADDING-RIGHT: 5px;
	BORDER-RIGHT: #b0b0b0 1px solid;
	BORDER-TOP: #b0b0b0 1px solid;
	BORDER-LEFT: #b0b0b0 1px solid;
	BORDER-BOTTOM: #b0b0b0 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	MARGIN:5px;
	COLOR: #d5d5d5;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #0068b4;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}
DIV.black2 SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #eee 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 1px;
	BORDER-LEFT: #eee 1px solid;
	COLOR: #ddd;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #eee 1px solid
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
