##encoding: utf-8
## 請注意, 一定要有語系編碼設定, 否則無法處理中文
      <br />
        <a href="index">input</a>|
        <a href="searchForm">關鍵字搜尋</a>|
        <a href="readData">正向排序</a>|
        <a href="readData?rev_order=1">反向排序</a>|
        <a href="readData?rev_order=0&key_num=4">根據薪資正向排序</a>|
        <a href="readData?rev_order=1&key_num=4">根據薪資反向排序</a>|
        <a href="gentable">gentable</a>|
        <a href="gentable2">gentable2</a>|
        <a href="cmsinput">cmsinput</a>|
        <a href="exiting">exiting</a>
        <br />